In [1]:
x = 2
x = 4
print(x)

4

In [2]:
#mutability
fruit = 'banana'

In [5]:
friends = ['Joseph', 'Glenn', 'Sally']

carryon = ['socks', 'shirt', 'perfume']

In [6]:
['strings', 12, 23.000] + ['foo', 123]

['strings', 12, 23.0, 'foo', 123]

In [8]:
nolist = []

In [10]:
if nolist:
    print('yeah')
    
else:
    print('no')

no

In [11]:
for friend in friends:
    print('Happy 4th of July', friend)
print('Done!')

Happy 4th of July Joseph
Happy 4th of July Glenn
Happy 4th of July Sally
Done!

In [12]:
friends[1] = 'Connor'

In [13]:
friends

['Joseph', 'Connor', 'Sally']

In [15]:
len(friends)

3

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
print(range(len(friends)))

TypeError: range expected 1 arguments, got 0

In [26]:
print(list(range(2, 10, 2)))

[2, 4, 6, 8]

In [30]:
list(range(2, 10, 2))

NameError: name 'reverse' is not defined

In [32]:
foo = [1,2,3,4,5]

In [42]:
foo[::-1]
foo[2::]

[3]

In [40]:
foo.reverse()

In [43]:
for i in range(len(friends)):
    friend = friends[i]
    print('this is index {}'.format(i))
    print('Happy 4th of July {}'.format(friend))

this is index 0
Happy 4th of July Joseph
this is index 1
Happy 4th of July Connor
this is index 2
Happy 4th of July Sally

In [45]:
friends.remove('Sally')

ValueError: list.remove(x): x not in list

In [51]:
friends

['Joseph', 'Connor', 'Hunter', 'Christina', 'Bella', 'Phil', 'Danny']

In [48]:
friends += ['Hunter', 'Christina', 'Bella', 'Phil', 'Danny']

In [52]:
friends

['Joseph', 'Connor', 'Hunter', 'Christina', 'Bella', 'Phil', 'Danny']

In [53]:
friends[:4]

['Joseph', 'Connor', 'Hunter', 'Christina']

In [55]:
friends[:]

['Joseph', 'Connor', 'Hunter', 'Christina', 'Bella', 'Phil', 'Danny']

In [62]:
friends

['Phil', 'Joseph', 'Hunter', 'Danny', 'Connor', 'Christina', 'Bella']

In [64]:
friends[0] = 'phil'

In [65]:
friends

['phil', 'Joseph', 'Hunter', 'Danny', 'Connor', 'Christina', 'Bella']

In [68]:
friends.sort()

In [76]:
friends.count('Christina')

0

In [73]:
friends.append('Christina')

In [74]:
friends

['Bella',
 'Christina',
 'Connor',
 'Danny',
 'Hunter',
 'Joseph',
 'phil',
 'Christina',
 'Christina']

In [77]:
#Pull out 5
f = [[1,2,3], [4,5,6]]

f[1][1]

5

In [79]:
stuff = list()

In [87]:
stuff.append('fish head')

In [86]:
stuff.append('too many')

In [88]:
stuff

['fish head', 'fish head', 'too many', 'fish head', 'too many', 'fish head']

In [94]:
[x for x in stuff if 'fish' in x]

['fish head', 'fish head', 'fish head', 'fish head']

In [96]:
vals = [1, 2, 4, 5]

In [98]:
sum(vals)

12

In [99]:
min(vals)

1

In [100]:
max(vals)

5

In [101]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value     
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 4
Enter a number: 5
Enter a number: 2
Enter a number: 1
Enter a number: 7
Enter a number: done
Average: 3.8

In [102]:
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: done

ZeroDivisionError: division by zero

In [105]:
cc = '- Nodes in CC_1: JQ288021.1,AB_1215_Bin_46'

In [106]:
cc_list = cc.split(':')

In [107]:
cc_list

['- Nodes in CC_1', ' JQ288021.1,AB_1215_Bin_46']

In [108]:
cc_list[1].strip().split(',')

['JQ288021.1', 'AB_1215_Bin_46']

In [112]:
stuff

['fish head', 'fish head', 'too many', 'fish head', 'too many', 'fish head']

In [110]:
set(stuff)

{'fish head', 'too many'}

In [113]:
#Get a unique list
newlist = list(set(stuff))

In [114]:
newlist

['fish head', 'too many']

In [ ]:
for line in f_handle:
    line = line.rstrip()
    line_list = line.split(',')